#dummy_job_container.min-h-96.flex.items-center.justify-center.border.border-base-300.rounded-xl.bg-base-100
  .text-center
    %p.text-lg.font-semibold.text-success Job is done
    .mt-6
      = button_to 'Run Again', enqueue_admin_dummy_index_path, method: :post, class: 'btn btn-primary btn-outline'
