#dummy_job_container.min-h-96.flex.items-center.justify-center.border.border-base-300.rounded-xl.bg-base-100
  .text-center{ data: { controller: 'verb-spinner' } }
    %span.loading.loading-spinner.loading-lg.text-primary
    %p.text-2xl.font-bold.mt-6.text-primary{ data: { verb_spinner_target: 'word' } }
    %p.text-sm.text-base-content.opacity-50.mt-2.max-w-sm{ data: { verb_spinner_target: 'message' } }
