.flex.items-center.justify-between.mb-8
  %h1.text-3xl.font-bold YouTube Audio Extractor
  = link_to 'New Extraction', new_admin_audio_extraction_path, class: 'btn btn-primary'

- if @audio_extractions.any?
  .overflow-x-auto
    %table.table.table-zebra.bg-base-100
      %thead
        %tr
          %th URL
          %th Time Range
          %th Status
          %th File
          %th Created
          %th
      %tbody
        - @audio_extractions.each do |extraction|
          = render 'extraction_row', extraction: extraction
- else
  .text-center.py-16.opacity-60
    %p No extractions yet. Click "New Extraction" to get started.
